[submodule "Server.UserCenter"]
	path = Server.UserCenter
	url = git@github.com:AlgorithmEasy/Server.UserCenter.git
[submodule "StudentSide"]
	path = StudentSide
	url = git@github.com:AlgorithmEasy/StudentSide.git
[submodule "Server.ProjectCenter"]
	path = Server.ProjectCenter
	url = git@github.com:AlgorithmEasy/Server.ProjectCenter.git
